ul {
	list-style: none;
	padding-left: 0;
	position: relative;
	bottom: -870px;

}


li {
    opacity: 1;
    position: absolute;
    font-size: 20px;
	transition: all .5s;
}



form {
	margin-top: 30px;
}

.glyphicon {
	cursor: pointer;
}

.ng-move {
	background: lightpink;
	transition: all 0.5s;
}

